

body{
    /* background-color: #F0D1A2; */
    background-color: red;
}


#navi1{
    background-color: antiquewhite;
    left: 0 px;
    right: 0 px;
    top: 0 px;
    height: 50 px;
    border-color: red;
    
}
