#lokSelect{
    background-color: white;
    border-radius: 8px;
}

.aClean{
    color: black;
}

.liveData{
    width: 300px;
    height: 152px;
    display:inline-block !important;
}


.liveDataTitle{
    font-size: 18pt;
}

.liveDataText{
    font-size: 16pt;
    display:inline-block ;
}

.midData{
    padding-left: 10px;

}

.liveSelection{
    height: 100px !important;
}

#suhuSelection,#kelembapanSelection,#tekananSelection,#akselerasiSelection{
    min-width: 250px !important;
}